<style>
.header_l {
  background-image: url("images/photo_2023-12-15_19-48-39.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
</style>
